body {
    background-color: blanchedalmond;
    font-family: "Roboto";
}
#maintitle {
    text-align: center;
}

#main-container-maintitle {
    text-align: center;
}
.main-container{
    display: flex;
    flex-direction: row;

}
/* form template */
#popup-container {
    display: none;
    grid-template-columns: repeat(10, 10fr);
    flex-wrap: wrap;
    position: fixed;
    padding:0;
    margin:0;
    justify-content: center;
    align-content: center;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}
#form {
    border: 3px solid cornflowerblue;
    background-color: aliceblue;
    padding: 0.8vw;
}
#form-close {
    cursor: pointer; 
}
/* card template for each books */
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: aquamarine;
    max-width: 30%;
    margin: 2vmin;
}
.card-title {
    background-color: dodgerblue;
}
.card-container {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: none;
}

.no-status {
    background-color: red;
}
.yes-status {
    background-color: greenyellow;
}

#main {
    order: 1;
    flex-grow: 6;
    background-color: burlywood;
}
/* side styles*/
#side {
    order: 2;
    flex-grow: 3;
    flex: none;
    background-color: steelblue;
    min-width: 20%;
}

#side-title {
    background-color: blanchedalmond;
}

div .stat-list {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}